
# Aber direkt im modules/ die Ausnahmen behalten
AGENTS.md
/config/app.json
/config/config.json
/favicon.ico
/.htaccess
/library/ckvsoft/update/update.json
/modules/*
!/modules/.htaccess
!/modules/index.php
/public/*
/var/backup/*
/var/backup/*.json
/var/log/*
/var/log/*.log
