/.htaccess
/library/ckvsoft/update/update.json
/config/app.json
/config/config.json
/var/backup/*.json
/var/log/*.log
/modules/*

# Aber direkt im modules/ die Ausnahmen behalten
!/modules/.htaccess
!/modules/index.php
/public/*
/var/backup/*
/var/log/*
